
body {
  background-color: #222;
  color: #fff;
}

form {
  margin: 20px;
}

label {
  color: #ccc;
  font-size: 14px;
}

input[type="text"],
input[type="number"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 3px;
}

input[type="submit"] {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

a {
  color: #ccc;
}

a:hover {
  color: #fff;
}


