
body {
    background-color: #13293D;
    color: #FFF;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    font-weight: bold
    margin-top: 10px;
}

input[type="number"],
input[type="text"],
input[type="submit"],
.button {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

input[type="number"],
input[type="text"] {
    background-color: #1D3E5F;
    color: #FFF;
}

input[type="submit"] {
    background-color: #1D3E5F;
    color: #FFF;
    cursor: pointer;
}

.button {
    background-color: #1D3E5F;
    color: #FFF;
    text-decoration: none;
}

.button:hover {
    background-color: #0C1E2F;
}


