<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{userlist.css}" />
    <meta charset="UTF-8">
    <title>Обновление записи</title>
</head>
<body>
<form action="#" th:action="@{/owner-update}" th:object="${owner}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <label for="project">Название проекта</label>
    <input type="text" th:field="*{project}" id="project" placeholder="Введите проект">
    <label for="title">Ответственное лицо</label>
    <input type="text" th:field="*{responsible}" id="title" placeholder="Введите ФИО">
    <input type="submit" class="button" value="Обновить">
</form>
<p><a href="/owner" class="button">Вернуться назад</a></p>
</body>
</html>