<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous">
<meta charset="UTF-8">
<title>Проекты</title>
</head>
<body>
<form action="#" th:action="@{/owner-update}" th:object="${owner}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="project">Название проекта</label>
    <input type="text" th:field="*{project}" id="project" placeholder="Введите проект">
    <br/>
    <label for="title">Ответсвенное лицо</label>
    <input type="text" th:field="*{responsible}" id="title" placeholder="Введите ФИО">
    <br/>
    <input type="submit" value="Обновить">
</form>
</body>
</html>