<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{userlist.css}" />
<meta charset="UTF-8">
<title>Добавление задачи</title>
</head>
<body>
<h2>Добавление задачи</h2>
<form action="#" th:action="@{/task-create}" th:object="${task}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <label for="task_date">Дата задачи</label>
    <input type="text" th:field="*{task_date}" id="task_date" placeholder="Введите дату">
    <label for="title">Описание задачи</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Введите описание">
    <input type="submit" value="Добавить задачу">
</form>
<p><a href="/task" class="button">Вернуться назад</a></p>
</body>
</html>