<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Добавление задачи</title>
</head>
<body>
<form action="#" th:action="@{/task-create}" th:object="${task}" method="post">
    <label for="id">ID</label>
    <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
    <br/>
    <label for="task_date">Дата задачи</label>
    <input type="text" th:field="*{task_date}" id="task_date" placeholder="Введите дату">
    <br/>
    <label for="title">Описание задачи</label>
    <input type="text" th:field="*{title}" id="title" placeholder="Введите описание">
    <br/>
    <input type="submit" value="Добавить задачу">
</form>
<p><a href="/task">Вернуться назад</a></p>
</body>
</html>