<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавление сотрудника</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{usercreate.css}" />

</head>
<body>
<form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="username">ФИО</label>
    <input type="text" th:field="*{username}" id="username" placeholder="ФИО">
    <label for="password">Номер телефона</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Номер телефона">
    <label for="email">Почта</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Почта">
    <input type="submit" value="Добавить">
</form>
<p><a href="/users">Вернуться назад</a></p>
</body>
</html>