<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100;1,300&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{userlist.css}" />
    <title>Сотрудники</title>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found!</h2>
    <div th:case="*">
        <h2>Сотрудники</h2>
        <table>
            <tbody>
            <tr>
                <td><p><a class="button" href="/owner">Текущее проекты</a></p></td>
                <td>  <p><a class="button" href="/task">Текущее задания</a></p></td>
            </tr>
            </tbody>
        </table>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>ФИО</th>
                <th>Почта</th>
                <th>Номер телефона</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.password}"></td>
                <td><a th:href="@{user-update/{id}(id=${user.id})}"class="button">Обновить</a></td>
                <td><a th:href="@{user-delete/{id}(id=${user.id})}"class="button">Удалить</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <p><a href="/user-create" class="button">Добавить сотрудника</a></p>
</div>
</body>
</html>