<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавление сотрудника</title>
    <link rel="stylesheet" th:href="@{userlist.css}" />
    <link href="https://fonts.googleapis.com/css?family=Literata&display=swap" rel="stylesheet">
</head>
<body>
<div>
    <h2>Добавление сотрудника</h2>
    <form action="#" th:action="@{/user-create}" th:object="${user}" method="post">
    <label for="username">ФИО</label>
    <input type="text" th:field="*{username}" id="username" placeholder="ФИО">
    <label for="password">Номер телефона</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Номер телефона">
    <label for="email">Почта</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Почта">
    <input type="submit" class="button" value="Добавить">
</form>
<p><a href="/users" class="button">Вернуться назад</a></p>
</div>
</body>
</html>