
/* Универсальные стили */
body {
  font-family: Arial, sans-serif;
  color: #333;
}

h2 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

a {
  color: #007bff;
}

/* Стили для страницы Сотрудники */
#users {
  margin-top: 20px;
}

#users h2 {
  margin-bottom: 10px;
}

#users p {
  margin-top: 10px;
}

#users table {
  margin-bottom: 20px;
}

#users a {
  margin-right: 10px;
}

